HOUSE PRICE PREDICTION

In [46]:
import pandas as pd
data = pd.read_csv("HousePricePrediction.csv")

In [47]:
data

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2914,160,RM,1936,Inside,Twnhs,7,1970,1970,CemntBd,0.0,546.0,NaN
2915,2915,160,RM,1894,Inside,TwnhsE,5,1970,1970,CemntBd,0.0,546.0,NaN
2916,2916,20,RL,20000,Inside,1Fam,7,1960,1996,VinylSd,0.0,1224.0,NaN
2917,2917,85,RL,10441,Inside,1Fam,5,1992,1992,HdBoard,0.0,912.0,NaN
2918,2918,60,RL,9627,Inside,1Fam,5,1993,1994,HdBoard,0.0,996.0,NaN

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            2919 non-null   int64
 1   MSSubClass    2919 non-null   int64
 2   MSZoning      2915 non-null   object
 3   LotArea       2919 non-null   int64
 4   LotConfig     2919 non-null   object
 5   BldgType      2919 non-null   object
 6   OverallCond   2919 non-null   int64
 7   YearBuilt     2919 non-null   int64
 8   YearRemodAdd  2919 non-null   int64
 9   Exterior1st   2918 non-null   object
 10  BsmtFinSF2    2918 non-null   float64
 11  TotalBsmtSF   2918 non-null   float64
 12  SalePrice     1460 non-null   float64
dtypes: float64(3), int64(6), object(4)
memory usage: 296.6+ KB

In [49]:
data.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotArea            0
LotConfig          0
BldgType           0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
Exterior1st        1
BsmtFinSF2         1
TotalBsmtSF        1
SalePrice       1459
dtype: int64

In [50]:
data['MSZoning'].value_counts()

MSZoning
RL         2265
RM          460
FV          139
RH           26
C (all)      25
Name: count, dtype: int64

In [51]:
data['MSZoning'] = data['MSZoning'].fillna('RL')

In [52]:
data['SalePrice'] = data['SalePrice'].fillna(data['SalePrice'].mean())

In [53]:
data =data.dropna(axis = 0)

In [54]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data['MSZoning'] = labelencoder.fit_transform(data['MSZoning'])
data['LotConfig'] = labelencoder.fit_transform(data['LotConfig'])
data['BldgType'] = labelencoder.fit_transform(data['BldgType'])
data['Exterior1st'] = labelencoder.fit_transform(data['Exterior1st'])

C:\Users\khush\AppData\Local\Temp\ipykernel_3304\4048569294.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['MSZoning'] = labelencoder.fit_transform(data['MSZoning'])
C:\Users\khush\AppData\Local\Temp\ipykernel_3304\4048569294.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['LotConfig'] = labelencoder.fit_transform(data['LotConfig'])
C:\Users\khush\AppData\Local\Temp\ipykernel_3304\4048569294.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['BldgType'] = labelencoder.fit_transform(data['BldgType'])
C:\Users\khush\AppData\Local\Temp\ipykernel_3304\4048569294.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Exterior1st'] = labelencoder.fit_transform(data['Exterior1st'])

In [55]:
cor_mat = data.corr()

print(data.corrwith(data['SalePrice']).sort_values(ascending= False))

SalePrice       1.000000
TotalBsmtSF     0.432019
YearBuilt       0.368775
YearRemodAdd    0.354538
LotArea         0.236174
Exterior1st     0.073200
BsmtFinSF2     -0.007672
Id             -0.007754
LotConfig      -0.048199
OverallCond    -0.055067
MSSubClass     -0.059306
BldgType       -0.060112
MSZoning       -0.113318
dtype: float64

In [56]:
data = data.drop(columns = ['BsmtFinSF2', 'Id'])

In [59]:
data

,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,TotalBsmtSF,SalePrice
0,60,3,8450,4,0,5,2003,2003,12,856.0,208500.00000
1,20,3,9600,2,0,8,1976,1976,8,1262.0,181500.00000
2,60,3,11250,4,0,5,2001,2002,12,920.0,223500.00000
3,70,3,9550,0,0,5,1915,1970,13,756.0,140000.00000
4,60,3,14260,2,0,5,2000,2000,12,1145.0,250000.00000
...,...,...,...,...,...,...,...,...,...,...,...
2914,160,4,1936,4,3,7,1970,1970,5,546.0,180921.19589
2915,160,4,1894,4,4,5,1970,1970,5,546.0,180921.19589
2916,20,3,20000,4,0,7,1960,1996,12,1224.0,180921.19589
2917,85,3,10441,4,0,5,1992,1992,6,912.0,180921.19589
2918,60,3,9627,4,0,5,1993,1994,6,996.0,180921.19589

In [63]:
from sklearn.model_selection import train_test_split
X = data.drop(['SalePrice'], axis = 1)
Y = data['SalePrice']
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X,Y, test_size = 0.2)

In [66]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_Train, Y_Train)

LinearRegression()

In [67]:
Y_pred = model.predict(X_Test)

In [77]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(Y_Test, Y_pred)

0.19322057788197142